fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
docling==2.48.0
docling-core==2.45.0
aiofiles==24.1.0
langchain-text-splitters==0.3.10
langchain-huggingface==0.3.1
langchain-community==0.3.29
langchain==0.3.27
openai==2.6.1
cohere==5.20.0
pydantic==2.11.7
qdrant-client==1.15.1
SQLAlchemy==2.0.44
asyncpg==0.30.0
alembic==1.17.1
psycopg2==2.9.11
pgvector==0.4.1
nltk==3.9.2
tiktoken==0.12.0